doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="style.css")

    body
      .mega-menu
        each menu, key1 in data.menu
          .parentLink
            a.mainLink(href=`/${menu.parentHref}`)= menu.parentLink
            .mega-menu_drop-down
              .test1
                a.menu-all-link(href=`${menu.dropdownHeaderHref}`)= menu.dropdownHeaderText
                  each subMenu, key2 in menu.list
                    ul.subMenu-lists
                      each subMenuList, key3 in subMenu
                        li.subMenu-item
                          a.subMenu-link(href=`/#`)= subMenuList.text

      script.
        let elements = () => {
         document.getElementsByClassName('.parentLink').innerHTML = 'ceva';
        }
